.App__header {
  background: #083bc1 linear-gradient(90deg, #083bc1 0, #07b2d7);
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.App__title {
  flex-grow: 1;
  font-size: 20px;
}

.App {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Geneva, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #5c617b;
  background-color: #E7EEF3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.App__headerItems {
  display: flex;
  align-items: center;
}

.App__currentUserName {
  padding-right: 15px;
}

.App__footer {
  text-align: center;
}

.App__calderaLabsLogo {
  display: inline-block;
  filter: grayscale(100%);
  transition: filter 300ms;
  margin-bottom: 10px;
}

.App__calderaLabsLogo:hover {
  filter: grayscale(0);
}

.App__footer {
  margin-top: 100px;
}

.App__contentInner {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.App__loadingMessageWrapper {
  text-align: center;
}

.App__loadingMessage {
  display: inline-block;
  background-color: #f8f9fc;
  border-radius: 5px;
  border: 1px solid #d4e0e8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  margin: 50px 0;
}
