.Button {
  color: #666666;
  border-color: #eeeeee;
  font-weight: 500;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 1px;
  line-height: 38px;
  background: linear-gradient(#f6f6f6, #e1e1e1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
}

.Button:visited {
  color: #666666;
}

.Button:hover, .Button:focus {
  text-decoration: none;
  outline: none;
  background: linear-gradient(to bottom, white, gainsboro);
}

.Button:active, .Button--active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  border-color: #cfcfcf;
  color: #d4d4d4;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background: #eeeeee;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
}

.Button--disabled, .Button:disabled {
  top: 0 !important;
  background: #EEE !important;
  border: 1px solid #DDD !important;
  text-shadow: 0 1px 1px white !important;
  color: #CCC !important;
  cursor: default !important;
  appearance: none !important;
}

.Button--primary {
  color: white;
  border-color: #088ef0;
  background: linear-gradient(#34a5f8, #088ef0);
}

.Button--primary:visited {
  color: white;
}

.Button--primary:hover, .Button--primary:focus {
  border-color: #4cb0f9;
  color: white;
  background: linear-gradient(to bottom, #42abf8, #0888e6);
}

.Button--primary:active, .Button--primary.Button--active {
  color: #0880d7;
  border-color: #0880d7;
  background: #2798eb;
}

.Button--small {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
}
