.CommentListHeader {
  display: flex;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #d8e0ea;
  border-radius: 4px 4px 0 0;
  padding: 16px 20px;
  align-items: center;
  min-height: 30px;
  justify-content: space-between;
}

.CommentListHeader__count {
  font-size: 13px;
  margin-right: 5px;
}

.CommentListHeader__pagination {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.CommentListHeader__paginationItem {
  display: inline-block;
}

.CommentListHeader__bulkActions {
  display: flex;
  align-items: center;
}

.CommentListHeader__nav {
  display: flex;
  flex-grow: 1;
  align-items: baseline;
}

.CommentListHeader__bulkActions {
  width: 300px;
}

.CommentListHeader__paginationLink {
  font-size: 13px;
  margin: 0 3px;
  font-weight: bold;
  border: 1px solid #d4e0e8;
  border-radius: 3px;
  padding: 3px 6px;
  cursor: pointer;
}

.CommentListHeader__bulkActionsSelect {
  padding-right: 20px;
}

.CommentListHeader__paginationItem--active .CommentListHeader__paginationLink, .CommentListHeader__paginationLink:hover {
  background-color: #E7EEF3;
}

.CommentListHeader__filters {
  display: flex;
  align-items: baseline;
}

.CommentListHeader__filtersLabel {
  padding: 0 10px;
}
