.Comment {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EEEDF3;
  padding: 16px 20px;
  min-height: 30px;
}

.Comment__body {
  flex-grow: 1;
  padding: 0 20px;
}

.Comment__publishedAt {
  margin-bottom: 5px;
  font-size: 12px;
  color: #888;
}

.Comment__bulkActions {
  display: flex;
  padding-right: 20px;
}
