.CommentList {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(108, 133, 159, .4);
  margin: 20px;
}

.CommentList__comments {
  background-color: #f4f9fd;
}

.CommentList__emptyComments {
  background-color: #f4f9fd;
  display: flex;
  justify-content: center;
}

.CommentList__commentWrapper {
  flex-grow: 1;
}
